body{
    display: flex;
    flex-direction: column;
    

}
main{
    display: flex;
    flex: auto;
    flex-direction: row;
}

article{
    flex:2
    overflow-y: auto
}
aside{
    flex:1
    overflow-y: auto
}
h1{
    color: blue;
    background-color: aqua;
}
h2 {
    color: blueviolet;
    background-color: aquamarine;
}
h3{
    color: blue;
    background-color: blanchedalmond;
}
