body{
    display: flex;
    flex-direction: column;
}
header{
   display: flex;
   flex-direction: row;
   justify-content: end;
   
}
li{
    display: flex;
    flex-direction: column;
}
img{
    display: flex;
   flex-direction: row;
   justify-content:left
}
section .class ig{
    background-image: https://1drv.ms/i/c/d656fa0b57b871fa/EfBcUuVimNxGh3k4ybO2FeYBi6hjwG7YZ3fUXVfxGnftkg?e=lRdHC0;
    display: flex;
    justify-content: centre;
    flex-direction: column;
}
div{
    display: flex;
    flex-direction: row;

}
article{
    display: flex;
    flex-direction:column ;
}
aside{
    display: flex;
    flex-direction: column;
}
area{
    display: flex;
    flex-direction: column;
}
address{
    display: flex;
    flex-direction: column;
}
section .class "unique"{
    display: flex;
    flex-direction: column;
}
abbr{
    display: flex;
    flex-direction: row;
}
dd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
caption{
    display: flex;
    flex-direction: column;
}
b{
    display: flex;
    flex-direction: row;
}
c{
    display: flex;
    flex-direction: row;
}